body {
  background-color: gainsboro;
}

#rest {
  background-color: thistle;
  margin-left:   30px;
  margin-bottom: 10px;
  margin-right: 700px;
  font: 15px arial, sans-serif;
}

#polllist {
  background-color: thistle;
  margin-left:   15px;
  margin-bottom: 10px;
  margin-right: 700px;
  font: 15px arial, sans-serif;
}

#name {
  background-color: gray;
  font-size:  large;
  color: whitesmoke;
  
}

#address{
  background-blend-mode:  color-burn;
  background-color: rosybrown;
  margin-top: 5px;
  margin-left:   30px;
  margin-right:  50px;
}

#the-string {
  display: none;
}

.addpoll {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbd8db), color-stop(1, #baabba) );
    background:-moz-linear-gradient( center top, #dbd8db 5%, #baabba 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbd8db', endColorstr='#baabba');
    background-color:#dbd8db;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0px;
    border:1px solid #d1c1d1;
    display:inline-block;
    color:#4d3f4d;
    font-family:Trebuchet MS;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:22px;
    line-height:22px;
    width:107px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 0px 0px #ffffff;
}
.addpoll:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #baabba), color-stop(1, #dbd8db) );
    background:-moz-linear-gradient( center top, #baabba 5%, #dbd8db 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#baabba', endColorstr='#dbd8db');
    background-color:#baabba;
}.addpoll:active {
    position:relative;
    top:1px;
}

#user{
  background-color: silver;
  margin-bottom: 3px;
  margin-right: 999px;
}
#login{
  width:67px;
  height:35px;
  background-color:white;
  moz-border-radius:15px;
  -webkit-border-radius:15px;
  border: 2px solid black;
  padding:5px;
}

#un{
  -moz-border-radius:15px;
  border-radius:15px;
  border:solid 2px black;
  padding:5px;
  margin-bottom:20px;


}

h1{
  text-align:center;
  font-family: "Georgia";

}
h2{
  text-align:center;
  font-family: "Georgia";
}

#s{
  font-family: "Arial";
  text-align:center;
  margin-left:auto;
  margin-right:auto;
   
}
form{
  font-family:"Arial";
}
a{
  font-family:"Georgia";
}

/* unvisited link */
a:link {
    color: black;

}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

#c{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 300px;
    height: 400px; 
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color: thistle;

}

#l{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 300px;
    height: 70px; 
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    background-color: thistle;

}


#sel{
  width:275px;
  height 50px;
  background-color:white;
  moz-border-radius:15px;
  -webkit-border-radius:15px;
  border: 2px solid darkgray;
  padding:5px;
  background-color: whitesmoke;
}

#flash{
  text-align: center;
  margin-left: auto;
  padding: 2px;
  margin-left: 500px;
  margin-top: 10px;
  margin-right: 500px;
  background-color: khaki;
  border: 1px solid crimson;
}
#b{
  text-align: center;
}

button:hover{
  color:red;
  background:white;

}
